* {
    font-family: Arial;
    margin: 2px;
    padding: 5px;
    position: flex;
    table-layout: center;
}

body {
    margin-top: 2%;
    padding: 0;
    background-color: gainsboro;
    font-family: Arial;
    text-align: center;
}

table {
    width: 100%;
}

th {
    text-align: right;
}

td {
    text-align: left;
}