<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<script>
    function editDetails() {
    var x = document.getElementById("editdetails");
    var y = document.getElementById("tasklist");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none"
    } else {
        x.style.display = "none";
        y.style.display = "block"
       
    }
}

    function showList(){
    var x = document.getElementById("tasklist");
    var y = document.getElementById("editdetails");
    if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none"
    } else {
        x.style.display = "none";
        y.style.display = "block"    
    }
    }
</script>
</head>
<body>
    <form align="right">
        <label class="signout">
        <input name="signout" type="submit" id="signout" value="Sign Out">
        </label>
    </form>

<div class="container1">  
    <div class="forms">
        <div class="form-content">
<div id="tasklist">
    <div class="title">Activity List</div> <br>
    <table border="1" class="auto">
        <tr> 
          <th>Sr. No.</th>
          <th>Task</th>
          <th>Sub Task</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
        <tr>
         <td align="center">1 </td>
         <td>Task 1</td>
         <td>Sub Task 1Sub Task Sub Task 1Sub Task 11Sub Task 1Sub Task 1</td>
         <td>DescriptionSub Task 1Sub Task 1Sub Task 1Sub Task 1Sub Task 1Sub Task 1</td>
         <td>Done</td>
         <td><i class="fas fa-edit" onclick="editDetails()"></i><button type="button"></button></td>
         <td><i class="far fa-trash-alt"></i><button type="button" ></button></td>
        </tr>
        <tr>
            <td align="center">2 </td>
            <td>Task 2</td>
            <td>Sub Task Sub Task 1Sub Task 1SSub Task 1Sub Task 1Sub Task 1Sub Task 1ub Task 1Sub Task 12</td>
            <td>DescriptionSub Task 1Sub Task 1Sub Task 1Sub Task 1Sub Task 1Sub Task 1</td>
            <td>Pending</td>
            <td><i class="fas fa-edit" onclick="editDetails()"></i><button type="button"></button></td>
         <td><i class="far fa-trash-alt"></i><button type="button" ></button></td>
           </tr>
      </table>
    </div>
    <div id="editdetails" style="display:none">
              <div class="title">Edit Activity</div>
            <form action="#">
                <div class="input-boxes">
                  <div class="input-box">
                    <input type="text" placeholder="Enter your Task" required>
                  </div>
                  <div class="input-box">
                    <input type="text" placeholder="Enter your Sub Task" required>
                  </div>
                  <div class="input-box">
                    <input type="text" placeholder="Enter Task Description" required>
                  </div>
                  <div class="input-box">
                    <label class="input-box">Change Staus &nbsp; &nbsp; &nbsp; &nbsp;
                        <select>
                        <option value="In Progress"> In Progress </option>
                        <option value="Pending"> Pending </option>
                        <option value="Done"> Done </option>
                    </select>
                </label>
                  </div>
                  <div class="input-box">
                    <label  >Start Time</label>&nbsp;<input type="time" required>  <label>End Time</label>&nbsp;  <input type="time" required>
                  </div>
                  <div class="input-box">
                    <input type="text" placeholder="Enter Total Time" required>
                  </div>
                  <div class="input-box">
                    <input type="date" placeholder="Select Date" required>
                  </div>
                  <div class="button input-box">
                    <input type="submit" value="Edit"> &nbsp; &nbsp;
                    <input type="submit" value="Cancel" onclick="showList()">
                  </div>
                  
                </div>
          </form>
        </div>
        </div>
</div>
</div>
</body>
    </html>
