<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Activity</title>
</head>
<body>
    <h2>My Activity</h2>
    {% csrf_token %}
        <label for=""><b>Project id:</b></label>
        <select>
            <option value="A"> A </option>
            <option value="B"> B </option>
            <option value="C"> C </option>
            <option value="D"> D </option>
        </select>


        <br>

        <label for=""><b>Task:</b></label>
        <input type="task" id="task" name="task" placeholder="task" required>
        <br>

        <label for=""><b>Sub Task:</b></label>
        <input type="sub task" id="sub task" name="sub task" placeholder="sub task" required>
        <br>

        <label for=""><b>Desription:</b></label>
        <input type="description" id="description" name="description" placeholder="description" required>
        <br>

        <label for=""><b>Status:</b></label>
        <input type="status" id="status" name="status" placeholder="status" required>
        <br>

        <label for=""><b>Start time:</b></label>
        <input type="sub task" id="sub task" name="sub task" placeholder="sub task" required>
        <br>

        <label for=""><b>End time:</b></label>
        <input type="sub task" id="sub task" name="sub task" placeholder="sub task" required>
        <br>

        <label for=""><b>Total Time Taken:</b></label>
        <input type="sub task" id="sub task" name="sub task" placeholder="sub task" required>
        <br>

        <label for=""><b>Date:</b></label>
        <input type="sub task" id="sub task" name="sub task" placeholder="sub task" required>
        <br>



        <button type="submit">Sign In</button>
        <br>

    </form>
</body>
</html>