<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <h1>Reset Password</h1>

<form method="post" action="">
<table>
    <tr>
        <th><label for="newPassword">New Password:</label></th>
        <td><input type="password" id="newPassword" name="newPassword" title="New password" /></td>
    </tr>
    <tr>
        <th><label for="confirmPassword">Confirm Password:</label></th>
        <td><input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" /><br></td>
    </tr>
</table>

<p class="form-actions">
<input type="submit" value="Change Password" title="Change password" />
</p>
</body>
</html>