<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: Arial;
            margin: 2px;
            padding: 10px;
            text-align: center;
            position: flex;
        }

        h2 {
            text-align: center;
            color: blue;
            padding: 2px;
        }

        body {
            margin-top: 10%;
            padding: 0;
            background-color:gainsboro;
            font-family: 'Arial';
        }
    </style>
</head>

<body>
    <h2>My Organizer</h2>

    <form action="/signin" method="post">
    {% csrf_token %}
        <label for=""><b>Username:</b></label>
        <input type="text" id="username" name="username" placeholder="Username/email id" required>
        <br>

        <label for=""><b>Password:</b></label>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
        <br>

        <button type="submit">Sign In</button>
        <br>

    </form>
    <br>

    <em>Forgot Password?</em>
    <a href="/index"> Reset Password</a>
    <br>
    <br>

    <em>Not Registered?</em>
    <a href="/signup"> Signup</a>



</body>
</html>